@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Roboto+Slab:wght@200;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: gray;
    height: 100%;
}
a{
  text-decoration:none; 
  color: black; 
  font-family: 'Roboto Slab', serif;
}
.navbar-list{
    display: flex;
    gap:3.8rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    list-style:none;
    background-color: white;
    font-size: 1.2rem;
}
.icon{
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    padding-left: 10%;
}
.container{
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#FF5F6D, #FFC371); 
    background: linear-gradient(to right, #FF5F6D,#FFC371); 
    height: 113vh;
}

.section-hero{
    background-image: url("img1.jpg");
    height: 100vh;
    background-size:cover;
    background-position: center;
}
.section-data{
    flex-direction: column;
    font-size: 1.4rem;
    width: 58%;
    font-family:'Montserrat', sans-serif;
}
.section-data h1{
    color:white;
    padding: 17px;
}
.section-data{
    background-color: red;
    opacity: 0.4;
}
.section-data p{
    color: white;
    padding: 17px;
}
.allcolumns{
    float:left;
    width:33.33%;
    padding: 6%;


}
.row::after{
    content:"";
    clear:both;
    display: table;
}
.card img{
    width: 45vh;
    height: 21vw;
    border-top-right-radius: 30%;
    padding: 40px;
    justify-content: center;
    text-align: center;
    display: flex;
}

h2{
    color:white;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    display: flex;
    font-family:'Montserrat', sans-serif; 
}
.order{
    background-image: linear-gradient(to right, #FF5F6D,#FFC371);
    padding-bottom: 120px; 
}

.card{
    width: 290px;
    height:440px;
    background-color: white;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
.card h3{
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-style:500 ;
}
.card p{
    font-size: 17px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Montserrat', sans-serif;

}
.color{
    background-color: rgb(255, 0, 76);
}
.section{
    padding: 110px;
}
button{
    display: flex;
    position:relative;
    width:10vw;
    padding:15px 0;
    text-align: center;
    margin-left: 650px;
    font-weight: bold;
    justify-content: center;
    border-radius: 25px;
    background-color: lightpink;
    border:none;
    color:black;
}
/* make responsive */

@media screen and (max-width:998px){
    html{
        font-size: 50%;
    }
    .card{
    width: 190px;
    height:460px;
    background-color: white;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
.card img{
    width: 70vh;
    height: 40vw;
    border-top-right-radius: 40%;
    padding: 40px;
    justify-content: center;
    text-align: center;
    display: flex;
}
button{
    display: flex;
    position:relative;
    width:10vw;
    padding:15px 0;
    text-align: center;
    margin-left: 350px;
    font-weight: bold;
    justify-content: center;
    border-radius: 20%;
    background-color: lightpink;
    border:none;
    color:black;
}
.card h3{
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
}
.card p{
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Montserrat', sans-serif;

}

}